---
import Layout from "../../../layouts/layout.astro";
import Form from "../../../components/Form.vue";

const { id } = Astro.params;

console.log(id);
const getData = async () => {
  try {
    const response = await fetch(
      `http://localhost:5000/api/v1/board-games/${id}`
    );
    if (!response.ok) {
      throw new Error(`Response status: ${response.status}`);
    }

    const gameData = await response.json();

    return gameData;
  } catch (error) {
    console.error(error.message);
  }
};

const gameData = await getData();
---

<Layout title="Board Games!" discription="Zijn echt heel leuk">
  <section class="container-fluid">
    <h1>Sessie toevoegen voor {gameData.name}</h1>
    <Form client:load id={id} />
  </section>
</Layout>
