---
import Layout from "../layouts/layout.astro";
console.log(
  "Hi! I’m the server. This is logged in the terminal where Astro is running."
);
---

<Layout title="Board Games!" discription="Zijn echt heel leuk">
  <section class="container-fluid">
    <h1>We hebben geweldige pagina's</h1>
    <a href="/boardspellen">Ga naar het spelletjes overzicht</a>
  </section>
</Layout>

<script>
  console.log("Hi! I’m the client. This is logged in browser dev console.");
</script>
